.Container {
  position: relative;

  .filterBox {
    height: 32px;
    margin: 0 8px 32px 0;
    border: 1px solid #939fa5;
    border-radius: 4px;
    font-family: Roboto;
    cursor: pointer;

    .filterWrap {
      display: flex;
      align-items: center;
      padding: 0 13px;
      height: 32px;
      font-size: 12px;
      font-weight: 500;
      color: #323d45;

      .dropdown {
        height: 5px;
        margin-left: 12px;
      }
    }
  }
  .filterMenu {
    position: absolute;
    top: 37px;
    width: 130px;
    background-color: #ffffff;
    border: 1px solid #939fa5;
    border-radius: 4px;

    .filterMenuMaterial {
      font-size: 14px;
      line-height: 1.4;
      color: #323d45;
    }
  }
}
